header {
    background-color: rgb(216, 150, 29);
    padding: 20px;
    text-align: left;
    font-size: 20px;
    color: white;
  }

  footer {
background-color: rgb(216, 150, 29);
padding: 20px;
text-align: center;
color: white;
}
form {
background-color: rgb(28, 28, 39);
}
label {
color:yellow
}
