
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FontRegular;
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    min-height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    width: 100%;
    height: 5vh;
    background-color: rgb(29, 29, 31);
    z-index: 50;
}

nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, .8);
}

nav i{
    font-size: 1.1vw;
    color: #fbfbfd;
}

.ribbon-content-row{
    padding: 13px ;
    text-align: center;
    background-color: #1c2739;
}

p{
    font-size: 15px;
    letter-spacing: -0.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f0e3ca;
}

.part-1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    background-image: url(/htmlnew/4-11-2023/images/hero_iphone15pro__i70z9oz3hj2i_largetall.jpg);
    background-position: center;
}

.text-part-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    gap: 1vh;
    top: 10%;
    color: #fff;
}

.text-part-1 h1{
    font-size: 3vw;
}

.text-part-1 p{
    font-size: 1.6vw;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.link a{
    text-decoration: none;
    color: rgb(26, 141, 242);
    font-size: 1.2vw;
}

.link a:hover{
    border-bottom: 1px solid rgb(26, 141, 242);
}

.part-2{
    background-image: url(/htmlnew/4-11-2023/images/hero_iphone15_announce__uuemlcwczn6u_largetall.jpg);
}

.text-part-2{
    color: #333;
}

.part-3{
    background-image: url(/htmlnew/4-11-2023/images/macbook.jpg);
    width: 2210px;
    height: 420px;
    
    
}

.part-4{
    display: flex;
    width: 100%;
}

.part-4-1{
    height: 60vh;
    width: 50%;
    background-repeat: no-repeat;
    background-image: url(/htmlnew/4-11-2023/images/4-1.jpg);
}

.part-4-2{
    height: 60vh;
    width: 50%;
    background-repeat: no-repeat;
    background-image: url(/htmlnew/4-11-2023/images/4-2.jpg);
}

.part-4 .text-part-1{
    color: #333;
}

.part-4 .text-part-1 p{
    font-size: 1vw;
}





